@font-face {
  font-family: "iconfont"; /* Project id 4495242 */
  src: url('iconfont.woff2?t=1712645242434') format('woff2'),
       url('iconfont.woff?t=1712645242434') format('woff'),
       url('iconfont.ttf?t=1712645242434') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianxifangshi:before {
  content: "\e614";
}

.icon-beizhu:before {
  content: "\e609";
}

.icon-yonghuming:before {
  content: "\e606";
}

.icon-he_57hangyefenlei:before {
  content: "\e719";
}

.icon-a-013_gongsidizhi:before {
  content: "\e639";
}

.icon-a-jiaoyifangshi2x:before {
  content: "\e602";
}

.icon-renshu:before {
  content: "\e600";
}

.icon-baoxianleixing:before {
  content: "\e6b1";
}

.icon-riqi:before {
  content: "\e776";
}

.icon-dian:before {
  content: "\e69c";
}

.icon-lishizuidi:before {
  content: "\e640";
}

.icon-zonghezuigaochesu:before {
  content: "\e627";
}

.icon-pingjunjiage:before {
  content: "\e612";
}

.icon-kaidianyinglicesuan:before {
  content: "\e628";
}

.icon-jiage:before {
  content: "\e672";
}

.icon-emijiage:before {
  content: "\e6fe";
}

.icon-a-iconyongdianliang:before {
  content: "\e62b";
}

